*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
}
.container_chess{
    display: flex;
    justify-content: center;
}
canvas{
    
}
#chess{
    position: relative;
    
}
.piece{
    position: absolute;
    font-size: 40px;
    text-align: center;
    line-height: 55px;
    color: #17002d;
    cursor: pointer;
}

.piece:hover{
    background-color: #0da2ef;
    
}

.form_size_chess{
    margin: 20px 50px;
    width: 350px;
 
    border-radius: 20px;
    background: linear-gradient(120deg, rgb(0, 13, 36) 0%, rgba(116,9,121,1) 0%, rgb(0, 183, 255) 100%);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}
.form_size_chess form{
    text-align: center;
}
.form_size_chess form div{
    width: 100%;
    margin: 15px 0;
    
}
.form_size_chess form input{
    width: 40%;
    height: 20px;
    border: none;
    border-radius: 5px;
    outline:none;
    padding: 5px;
    box-shadow: 3px 3px 0px rebeccapurple;
}
.form_size_chess form p{
    font-size: 16px;
    padding: 0 20px;
    margin: 8px 0;
    color: rgb(0, 0, 0);
}
label{
    margin-right: 5px;
    font-weight: bold;
    color: white;
}
button{
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 28px;
    background-color: white;
    color: rebeccapurple;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 3px 3px 0px rebeccapurple;
}
button:hover{
    box-shadow: 3px 3px 0px rgb(255, 255, 255);
    background-color: rebeccapurple;
    color: rgb(255, 255, 255);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }